# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# 개인폴더
docs_personal/

# cert폴더
certs/localhost.pem
certs/localhost+2.pem
certs/localhost-key.pem
certs/localhost-key+2.pem

# mysql폴더
mysql/init/*.sql

# SDK 빌드 파일
sdk/dist/sdk.js
backend/public/sdk.js

# 개인 폴더
pr/
issue/

